{% extends 'base.html.twig' %}

{% block title %}{{ player.name }} Gods - Smite Player - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/player/{{ player.name|clan_remove|slug }}-{{ player.smitePlayerId }}/gods" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#godStats').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });
    </script>
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('players') }}">Players</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('player_view', {
                            gamertag: player.name|clan_remove|slug,
                            id: player.smitePlayerId
                        }) }}">{{ player.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gods</li>
                </ol>
            </nav>

            <div class="row mb-3">
                <div class="col-sm-12">
                    {% if player.name %}
                    <h1 class="d-inline-block"><a href="{{ path('player_gods_view', {
                            gamertag: player.name|clan_remove|slug,
                            id: player.smitePlayerId
                        }) }}" title="Smite Player {{ player.name }} Gods">{{ player.name }} Smite God Stats</a></h1>
                    {% endif %}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('player_view', {
                        gamertag: player.name|clan_remove|slug,
                        id: player.smitePlayerId
                    }) }}">View Player Stats</a>
                </div>
            </div>

            {% if player_god_info %}
                <div class="row mb-5">
                    <div class="col">

                        <div class="table-responsive">
                            <table id="godStats" class="table table-sm table-striped font14 text-center">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col" class="text-left">God</th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Wins</th>
                                    <th scope="col">Losses</th>
                                    <th scope="col">Win Percent</th>
                                    <th scope="col">Kills</th>
                                    <th scope="col">Assists</th>
                                    <th scope="col">Deaths</th>
                                    <th scope="col">K/D</th>
                                    <th scope="col">K/D/A</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for god in player_god_info %}
                                    {% if god.god %}
                                        <tr>
                                            <td>
                                                {% if gods[god.god.name] %}
                                                    <img style="max-width: 50px; max-height: 50px" src="{{ gods[god.god.name].cardUrl }}" />
                                                {% endif %}
                                            </td>
                                            <td class="text-left">
                                                <a href="{{ path('god_view', {name: god.god.name|slug}) }}" title="Smite God {{ god.god.name }}">{{ god.god.name }}</a>
                                            </td>
                                            <td>{{ god.rank }}</td>
                                            <td>{{ god.wins }}</td>
                                            <td>{{ god.losses }}</td>
                                            <td>
                                                {% if god.losses and god.wins %}
                                                    {{ ((god.wins / (god.Wins + god.losses)) * 100)|round(2) }}%
                                                {% elseif god.wins %}
                                                    {{ 100|round(2) }}%
                                                {% else %}
                                                    {{ 0|round(2) }}%
                                                {% endif %}
                                            </td>
                                            <td>{{ god.kills }}</td>
                                            <td>{{ god.assists }}</td>
                                            <td>{{ god.deaths }}</td>
                                            <td>
                                                {% if god.deaths %}
                                                    {{ (god.kills / god.deaths)|round(2) }}
                                                {% else %}
                                                    {{ god.kills|round(2) }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if god.deaths %}
                                                    {{ ((god.kills + god.assists) / god.deaths)|round(2) }}
                                                {% else %}
                                                    {{ (god.kills + god.assists)|round(2) }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
