{% extends 'base.html.twig' %}

{% block title %}Smite Players - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/player/" />
{% endblock %}

{% block body %}
    <div class="bg-light pt-3 pb-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item active">Players</li>
                </ol>
            </nav>

            <h1>Smite Players</h1>

            <div class="row">

                {% for player in newest_players %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            {% if player.avatarUrl %}
                                <img height="25px" src="{{ player.avatarUrl }}" />
                            {% endif %}

                            {% if player.name|clan_remove|slug %}
                            <a href="{{ path('player_view', {
                                gamertag: player.name|clan_remove|slug,
                                id: player.smitePlayerId
                            }) }}" title="Smite Player {{ player.name }}">{{ player.name }}</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}
