{% extends 'base.html.twig' %}

{% block title %}{{ player.name }} Smite Player - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/player/{{ player.name|clan_remove|slug }}-{{ player.smitePlayerId }}" />
    <meta name="description" content="Smite Player statistics for {{ player.name|clan_remove|slug }}. View current stats including Gods, matches, achievements and many more of the player {{ player.name }}.">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var smitePlayerId = {{ player.smitePlayerId }};

    var ctxWinPercent = document.getElementById('winPercentChart');
    var winPercentChart = new Chart(ctxWinPercent, {
        type: 'doughnut',
        data: {
            labels: [
                'Wins',
                'Losses',
                'Leaves'
            ],
            datasets: [{
                data: [
                    {{ player.wins }},
                    {{ player.losses }},
                    {{ player.leaves }}
                ],
                backgroundColor: [
                    "rgb(40, 167, 69)",
                    "rgb(220, 53, 69)",
                    "rgb(255, 193, 7)"
                ]
            }]
        },
        options: {
            responsive: true
        }
    });

    {% if achievements %}
    var ctxKills = document.getElementById('killsChart');
    var killsChart = new Chart(ctxKills, {
        type: 'doughnut',
        data: {
            labels: [
                'Kills',
                'Assists',
                'Deaths'
            ],
            datasets: [{
                data: [
                    {{ achievements.PlayerKills }},
                    {{ achievements.AssistedKills }},
                    {{ achievements.Deaths }}
                ],
                backgroundColor: [
                    "rgb(40, 167, 69)",
                    "rgb(255, 193, 7)",
                    "rgb(220, 53, 69)"
                ]
            }]
        },
        options: {
            responsive: true
        }
    });
    {% endif %}

    </script>
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('players') }}">Players</a></li>
                    <li class="breadcrumb-item active">{{ player.name }}</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-sm-6">
                    {% if player.name %}
                    <h1><a href="{{ path('player_view', {
                            gamertag: player.name|clan_remove|slug,
                            id: player.smitePlayerId
                        }) }}" title="Smite Player {{ player.name }}">{{ player.name }} Smite Player</a></h1>
                    {% endif %}
                </div>

                <div class="col-sm-6 text-right">
                {% if last_updated >= 15 %}
                    <span class="text-muted d-inline-block">Last Updated: {{ player.dateUpdated|date('H:i:s Y/m/d') }}</span>
                    <button class="btn btn-sm btn-primary d-inline-block" id="player-refresh" type="button">Refresh player</button>
                {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col col-sm-12 col-md-6">

                                    <h2><img class="rounded" src="{{ player.avatarUrl }}" width="50px" /> {{ player.name }} (<span class="text-primary">{{ player.level }}</span>)</h2>

                                    {% if player.teamName %}
                                    <h5>
                                        Clan: <a href="{{ path('clan_view', {
                                            name: player.teamName|slug
                                        }) }}" title="Smite Clan {{ player.teamName }}">{{ player.teamName }}</a>
                                    </h5>
                                    {% endif %}

                                    <ul class="list-unstyled">
                                        <li></li>
                                        <li>Hours Played: {{ player.hoursPlayed }}</li>
                                        <li>Achievements: {{ player.totalAchievements }}</li>
                                        {% if achievements %}
                                            {% if achievements.Deaths %}
                                                <li>K/D: {{ (achievements.PlayerKills / achievements.Deaths)|round(2) }}</li>
                                                <li>K/D/A: {{ ((achievements.PlayerKills + achievements.AssistedKills) / achievements.Deaths)|round(2) }}</li>
                                            {% else %}
                                                <li>K/D: {{ achievements.PlayerKills|round(2) }}</li>
                                                <li>K/D/A: {{ (achievements.PlayerKills + achievements.AssistedKills)|round(2) }}</li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>

                                </div>
                                <div class="col col-sm-6 col-md-3">
                                    <canvas id="winPercentChart" width="400" height="350"></canvas>
                                </div>

                                {% if achievements %}
                                <div class="col col-sm-6 col-md-3">
                                    <canvas id="killsChart" width="400" height="350"></canvas>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if player_god_info %}
                    <div class="row">
                        <div class="col-12">

                            <div class="card mb-4 box-shadow">
                                <div class="card-body">

                                    <h3 class="d-inline-block">Top Gods</h3>
                                    <a class="btn btn-sm btn-primary float-right" href="{{ path('player_gods_view', {
                                        gamertag: player.name|clan_remove|slug,
                                        id: player.smitePlayerId
                                    }) }}">View all Gods</a>

                                    <div class="carousel slide mt-3" data-ride="carousel" id="godCarousel">

                                        <div class="carousel-inner w-100" role="listbox">

                                            {% for god in player_god_info %}
                                                {% if god.god %}

                                                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                                                        <div class="col-sm-12 col-md-6 col-lg-3">
                                                            <div class="card card-body bg-light">

                                                                {% if gods[god.god.name] %}
                                                                    <div class="rounded smite-god" style="background-image: url({{ gods[god.god.name].cardUrl }})">
                                                                        <a href="{{ path('god_view', {name: god.god.name|slug}) }}" title="Smite God {{ god.god.name }}">{{ god.god.name }}</a>
                                                                    </div>
                                                                {% endif %}

                                                                <div class="row">

                                                                    <div class="col col-sm-6 col-md-4 col-lg-12">
                                                                        <ul class="list-unstyled">
                                                                            <li>Rank: {{ god.rank }}</li>
                                                                            {% if god.losses and god.wins %}
                                                                                <li>Win Percent: {{ ((god.wins / (god.wins + god.losses)) * 100)|round(2) }}%</li>
                                                                            {% elseif god.wins %}
                                                                                <li>Win Percent: {{ 100|round(2) }}%</li>
                                                                            {% else %}
                                                                                <li>Win Percent: {{ 0|round(2) }}%</li>
                                                                            {% endif %}
                                                                            <li>Wins: {{ god.wins }}</li>
                                                                            <li>Losses: {{ god.losses }}</li>
                                                                        </ul>
                                                                    </div>

                                                                    <div class="col col-sm-6 col-md-4 col-lg-12">
                                                                        <ul class="list-unstyled">
                                                                            <li>Kills: {{ god.kills }}</li>
                                                                            <li>Assists: {{ god.assists }}</li>
                                                                            <li>Deaths: {{ god.deaths }}</li>
                                                                            {% if god.deaths %}
                                                                                <li>K/D: {{ (god.kills / god.deaths)|round(2) }}</li>
                                                                                <li>K/D/A: {{ ((god.kills + god.assists) / god.deaths)|round(2) }}</li>
                                                                            {% else %}
                                                                                <li>K/D: {{ god.kills|round(2) }}</li>
                                                                                <li>K/D/A: {{ (god.kills + god.assists)|round(2) }}</li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                        <a class="carousel-control-prev w-auto" href="***REMOVED***godCarousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon bg-primary rounded-circle" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next w-auto" href="***REMOVED***godCarousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon bg-primary rounded-circle" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if achievements %}
                    <div class="row">
                        <div class="col-md-12 col-lg-4">

                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <strong>Kill Stats</strong>
                                </div>
                                <div class="card-body">

                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="d-block bg-primary text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull fa-fw"></i>
                                                </span>
                                                {{ achievements.PlayerKills|number_format }} Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-success text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                </span>
                                                {{ achievements.DoubleKills ?? 0 |number_format }} Double Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-danger text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                </span>
                                                {{ achievements.TripleKills|number_format }} Triple Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-info text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                </span>
                                                {{ achievements.QuadraKills|number_format }} Quadra Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-secondary text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                    <i class="fas fa-skull fa-fw"></i>
                                                </span>
                                                {{ achievements.PentaKills|number_format }} Penta Kills
                                            </span>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 col-lg-4">

                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <strong>Spree Stats</strong>
                                </div>
                                <div class="card-body">

                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="d-block bg-success text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-stop-circle fa-fw"></i>
                                                </span>
                                                {{ achievements.ShutdownSpree|number_format}} Shutdown Sprees
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-danger text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull-crossbones fa-fw"></i>
                                                </span>
                                                {{ achievements.KillingSpree|number_format }} Killing Sprees (x3)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-info text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull-crossbones fa-fw"></i>
                                                </span>
                                                {{ achievements.RampageSpree|number_format }} Rampage Sprees (x5)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-secondary text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull-crossbones fa-fw"></i>
                                                </span>
                                                {{ achievements.UnstoppableSpree|number_format }} Unstoppable Sprees (x7)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-primary text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull-crossbones fa-fw"></i>
                                                </span>
                                                {{ achievements.DivineSpree|number_format }} Divine Sprees (x9)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-success text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull-crossbones fa-fw"></i>
                                                </span>
                                                {{ achievements.ImmortalSpree|number_format }} Immortal Sprees (x11)
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-danger text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-skull-crossbones fa-fw"></i>
                                                </span>
                                                {{ achievements.GodLikeSpree|number_format }} God Like Sprees (x13)
                                            </span>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12 col-lg-4">

                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <strong>Achievement Stats</strong>
                                </div>
                                <div class="card-body">

                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="d-block bg-danger text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-campground fa-fw"></i>
                                                </span>
                                                {{ achievements.CampsCleared|number_format }} Camps Cleared
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-info text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fab fa-freebsd fa-fw"></i>
                                                </span>
                                                {{ achievements.FireGiantKills|number_format }} Fire Giant Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-secondary text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-user-alt fa-fw"></i>
                                                </span>
                                                {{ achievements.GoldFuryKills|number_format }} Gold Fury Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-primary text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-users fa-fw"></i>
                                                </span>
                                                {{ achievements.MinionKills|number_format }} Minion Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-success text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fab fa-phoenix-framework fa-fw"></i>
                                                </span>
                                                {{ achievements.PhoenixKills|number_format }} Phoenix Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-danger text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-angry fa-fw"></i>
                                                </span>
                                                {{ achievements.SiegeJuggernautKills|number_format }} Siege Juggernaut Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-info text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-tired fa-fw"></i>
                                                </span>
                                                {{ achievements.WildJuggernautKills|number_format }} Wild Juggernaut Kills
                                            </span>
                                        </li>
                                        <li>
                                            <span class="d-block bg-secondary text-white">
                                                <span class="d-inline-block p-2 mr-3 fa-1x font-weight-bold bg-dark-opaque">
                                                    <i class="fas fa-gopuram fa-fw"></i>
                                                </span>
                                                {{ achievements.TowerKills|number_format }} Tower Kills
                                            </span>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                    {% if matches %}
                    <div class="row">
                        <div class="col-12">

                            <h3 class="d-inline-block">Latest Matches</h3>
                            <a class="btn btn-sm btn-primary float-right" href="{{ path('player_matches_view', {
                                gamertag: player.name|clan_remove|slug,
                                id: player.smitePlayerId
                            }) }}">View all Matches</a>

                            {% include 'player/templates/matches.html.twig' %}

                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}
