{% extends 'base.html.twig' %}

{% block title %}{{ player.name }} Smite Player - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/player/{{ player.name|clan_remove|slug }}-{{ player.smitePlayerId }}" />
    <meta name="description" content="Smite Player statistics for {{ player.name|clan_remove|slug }}. View current stats including Gods, matches, achievements and many more of the player {{ player.name }}.">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var smitePlayerId = {{ player.smitePlayerId }};
    </script>
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-3">
        <div class="container">

            <div class="row">
                <div class="col-sm-8">
                    {% if player.name %}
                    <h1><a href="{{ path('player_view', {
                            gamertag: player.name|clan_remove|slug,
                            id: player.smitePlayerId
                        }) }}" title="Smite Player {{ player.name }}">{{ player.name }} Smite Player</a></h1>
                    {% endif %}
                </div>

                <div class="col-sm-4">
                    {% if last_updated >= 15 %}
                    <button class="btn btn-sm btn-primary float-right" id="player-refresh" type="button">Refresh player</button>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col col-sm-12">

                                    <h2><img class="rounded" src="{{ player.avatarUrl }}" width="50px" /> {{ player.name }} (<span class="text-primary">{{ player.level }}</span>)</h2>

                                    {% if player.teamName %}
                                    <h5>
                                        Clan: <a href="{{ path('clan_view', {
                                            name: player.teamName|slug
                                        }) }}" title="Smite Clan {{ player.teamName }}">{{ player.teamName }}</a>
                                    </h5>
                                    {% endif %}

                                    <span class="float-left">Last Updated: {{ player.dateUpdated|date('H:i:s Y/m/d') }}</span>

                                </div>
                            </div>

                            <hr />

                            <div class="row">

                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li>Hours Played: {{ player.hoursPlayed }}</li>
                                        <li>Achievements: {{ player.totalAchievements }}</li>
                                    </ul>
                                </div>
                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li>Wins: {{ player.wins }}</li>
                                        <li>Losses: {{ player.losses }}</li>
                                        <li>Quits: {{ player.leaves }}</li>
                                    </ul>
                                </div>
                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li>Kills: {{ player_stats.Kills }}</li>
                                        <li>Assists: {{ player_stats.Assists }}</li>
                                        <li>Deaths: {{ player_stats.Deaths }}</li>
                                    </ul>
                                </div>
                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                    {% if player_stats.Deaths %}
                                        <li>K/D: {{ (player_stats.Kills / player_stats.Deaths)|round(2) }}</li>
                                        <li>K/D/A: {{ ((player_stats.Kills + player_stats.Assists) / player_stats.Deaths)|round(2) }}</li>
                                    {% else %}
                                        <li>K/D: {{ player_stats.Kills|round(2) }}</li>
                                        <li>K/D/A: {{ (player_stats.Kills + player_stats.Assists)|round(2) }}</li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% if player_god_info %}
                    <div class="row">
                        <div class="col-12">

                            <div class="card mb-4 box-shadow">
                                <div class="card-body">

                                    <h3>Top Gods</h3>

                                    <div class="carousel slide" data-ride="carousel" id="godCarousel">

                                        <div class="carousel-inner w-100" role="listbox">

                                            {% for god in player_god_info %}
                                                {% if god.god %}

                                                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                                                        <div class="col-md-3">
                                                            <div class="card card-body bg-light">

                                                                {% if gods[god.god.name] %}
                                                                    <div class="rounded smite-god" style="background-image: url({{ gods[god.god.name].cardUrl }})">
                                                                        <a href="{{ path('god_view', {name: god.god.name|slug}) }}" title="Smite God {{ god.god.name }}">{{ god.god.name }}</a>
                                                                    </div>
                                                                {% endif %}

                                                                <div class="row">

                                                                    <div class="col col-sm-6 col-md-4 col-lg-12">
                                                                        <ul class="list-unstyled">
                                                                            <li>Rank: {{ god.rank }}</li>
                                                                            {% if god.losses and god.wins %}
                                                                                <li>Win %: {{ ((god.wins / (god.Wins + god.losses)) * 100)|round(2) }}%</li>
                                                                            {% elseif god.wins %}
                                                                                <li>Win Percent: {{ 100|round(2) }}%</li>
                                                                            {% else %}
                                                                                <li>Win Percent: {{ 0|round(2) }}%</li>
                                                                            {% endif %}
                                                                            <li>Wins: {{ god.wins }}</li>
                                                                            <li>Losses: {{ god.losses }}</li>
                                                                        </ul>
                                                                    </div>

                                                                    <div class="col col-sm-6 col-md-4 col-lg-12">
                                                                        <ul class="list-unstyled">
                                                                            <li>Kills: {{ god.kills }}</li>
                                                                            <li>Assists: {{ god.assists }}</li>
                                                                            <li>Deaths: {{ god.deaths }}</li>
                                                                            {% if god.deaths %}
                                                                                <li>K/D: {{ (god.kills / god.deaths)|round(2) }}</li>
                                                                                <li>K/D/A: {{ ((god.kills + god.assists) / god.deaths)|round(2) }}</li>
                                                                            {% else %}
                                                                                <li>K/D: {{ god.kills|round(2) }}</li>
                                                                                <li>K/D/A: {{ (god.kills + god.assists)|round(2) }}</li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                        <a class="carousel-control-prev w-auto" href="#godCarousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon bg-primary rounded-circle" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next w-auto" href="#godCarousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon bg-primary rounded-circle" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if achievements %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <h3>Player Statistics</h3>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Double Kills: {{ achievements.DoubleKills ?? 0 }}</li>
                                                <li>Triple Kills: {{ achievements.TripleKills ?? 0 }}</li>
                                                <li>Quadra Kills: {{ achievements.QuadraKills ?? 0 }}</li>
                                                <li>Penta Kills: {{ achievements.PentaKills ?? 0 }}</li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Shutdown Spree: {{ achievements.ShutdownSpree ?? 0 }}</li>
                                                <li>Killing Spree: {{ achievements.KillingSpree ?? 0 }}</li>
                                                <li>Divine Spree: {{ achievements.DivineSpree ?? 0 }}</li>
                                                <li>Immortal Spree: {{ achievements.ImmortalSpree ?? 0 }}</li>
                                                <li>Unstoppable Spree: {{ achievements.UnstoppableSpree ?? 0 }}</li>
                                                <li>Rampage Spree: {{ achievements.RampageSpree ?? 0 }}</li>
                                                <li>God Like Spree: {{ achievements.GodLikeSpree ?? 0 }}</li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Assisted Kills: {{ achievements.AssistedKills ?? 0 }}</li>
                                                <li>Deaths: {{ achievements.Deaths ?? 0 }}</li>
                                                <li>First Bloods: {{ achievements.FirstBloods ?? 0 }}</li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Camps Cleared: {{ achievements.CampsCleared ?? 0 }}</li>
                                                <li>Fire Giant Kills: {{ achievements.FireGiantKills ?? 0 }}</li>
                                                <li>Gold Fury Kills: {{ achievements.GoldFuryKills ?? 0 }}</li>
                                                <li>Minion Kills: {{ achievements.MinionKills ?? 0 }}</li>
                                                <li>Phoenix Kills: {{ achievements.PhoenixKills ?? 0 }}</li>
                                                <li>Siege Juggernaut Kills: {{ achievements.SiegeJuggernautKills ?? 0 }}</li>
                                                <li>Wild Juggernaut Kills: {{ achievements.WildJuggernautKills ?? 0 }}</li>
                                                <li>Tower Kills: {{ achievements.TowerKills ?? 0 }}</li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                    {% if matches %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">

                                    <h3>Latest Matches</h3>

                                    <div class="row">
                                        {% for match in matches %}
                                        <div class="col-12">

                                            <div class="card mb-2 box-shadow">
                                                <div class="card-body bg-light">

                                                    <strong>{{ match.Player_Won ? 'Won' : 'Lost' }}</strong> a <strong>{{ match.Map_Game }}</strong> match on <strong>{{ match.Entry_Datetime|date }}</strong> lasting <strong>{{ match.Minutes }}</strong> minutes

                                                    <div class="row mt-2">

                                                        {% for key, players in match.Teams %}
                                                        <div class="col">
                                                            <div class="border border-{{ key == match.Winning_TaskForce ? 'success' : 'danger' }} rounded mb-1 p-2">

                                                                {% for match_player in players %}
                                                                <div class="mb-1 p-1">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="player-smite-god" style="background-image: url('https://web2.hirez.com/smite/god-cards/{{ match_player.ReferenceName|slug }}.jpg')"></div>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <h5>
                                                                                {% if match_player.smitePlayer and match_player.smitePlayer.name|clan_remove|slug %}
                                                                                    <a href="{{ path('player_view', {
                                                                                        gamertag: match_player.smitePlayer.name|clan_remove|slug,
                                                                                        id: match_player.smitePlayer.smitePlayerId
                                                                                    }) }}" title="Smite Player {{ match_player.smitePlayer.name }}">{{ match_player.smitePlayer.name }}</a>
                                                                                {% else %}
                                                                                    Unknown
                                                                                {% endif %}
                                                                            </h5>

                                                                            (<span class="text-primary">{{ match_player.AccountLevel }}</span>) -
                                                                            <span class="text-success">{{ match_player.KillsSingle }}</span> /
                                                                            <span class="text-warning">{{ match_player.Assists }}</span> /
                                                                            <span class="text-danger">{{ match_player.Deaths }}</span>

                                                                            <ul class="list-unstyled small">
                                                                                <li>Damage Mitigated: {{ match_player.DamageMitigated }}</li>
                                                                                <li>Damage Taken: {{ match_player.DamageTaken }}</li>
                                                                                <li>Gold Earned: {{ match_player.GoldEarned }}</li>
                                                                                <li>Gold per Minute: {{ match_player.GoldPerMinute }}</li>
                                                                                <li>Healing: {{ match_player.Healing }}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                        {% endfor %}

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}
