{% extends 'base.html.twig' %}

{% block title %}{{ player.name }} Smite Player - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/player/{{ player.name|clan_remove|slug }}-{{ player.smitePlayerId }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    var smitePlayerId = {{ player.smitePlayerId }};
    </script>
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-3">
        <div class="container">

            <div class="row">
                <div class="col-sm-8">
                    {% if player.name %}
                    <h1><a href="{{ path('player_view', {
                            gamertag: player.name|clan_remove|slug,
                            id: player.smitePlayerId
                        }) }}" title="Smite Player {{ player.name }}">{{ player.name }} Smite Player</a></h1>
                    {% endif %}
                </div>

                <div class="col-sm-4">
                    {% if last_updated >= 15 %}
                    <button class="btn btn-sm btn-primary float-right" id="player-refresh" type="button">Refresh player</button>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col col-sm-12">

                                    <h2><img class="rounded" src="{{ player.avatarUrl }}" width="50px" /> {{ player.name }} (<span class="text-primary">{{ player.level }}</span>)</h2>

                                    {% if player.teamName %}
                                    <h5>
                                        Clan: <a href="{{ path('clan_view', {
                                            name: player.teamName|slug
                                        }) }}" title="Smite Clan {{ player.teamName }}">{{ player.teamName }}</a>
                                    </h5>
                                    {% endif %}

                                    <span class="float-left">Last Updated: {{ player.dateUpdated|date('H:i:s Y/m/d') }}</span>

                                </div>
                            </div>

                            <hr />

                            <div class="row">

                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li>Hours Played: {{ player.hoursPlayed }}</li>
                                        <li>Achievements: {{ player.totalAchievements }}</li>
                                    </ul>
                                </div>
                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li>Wins: {{ player.wins }}</li>
                                        <li>Losses: {{ player.losses }}</li>
                                        <li>Quits: {{ player.leaves }}</li>
                                    </ul>
                                </div>
                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                        <li>Kills: {{ player_stats.Kills }}</li>
                                        <li>Assists: {{ player_stats.Assists }}</li>
                                        <li>Deaths: {{ player_stats.Deaths }}</li>
                                    </ul>
                                </div>
                                <div class="col col-sm-6 col-md-3">
                                    <ul class="list-unstyled">
                                    {% if player_stats.Deaths %}
                                        <li>K/D: {{ (player_stats.Kills / player_stats.Deaths)|round(2) }}</li>
                                        <li>K/D/A: {{ ((player_stats.Kills + player_stats.Assists) / player_stats.Deaths)|round(2) }}</li>
                                    {% else %}
                                        <li>K/D: {{ player_stats.Kills|round(2) }}</li>
                                        <li>K/D/A: {{ (player_stats.Kills + player_stats.Assists)|round(2) }}</li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% if player_god_info %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <h3>Top Gods</h3>
                                    <div class="row">

                                        {% for god in player_god_info %}
                                            {% if god.god %}
                                            <div class="col-md-12 col-lg-3">
                                                <div class="row">

                                                    {% if gods[god.god] %}
                                                    <div class="col col-sm-6 col-md-4 col-lg-12">
                                                        <div class="rounded smite-god" style="background-image: url({{ gods[god.god].cardUrl }})">
                                                            <a href="{{ path('god_view', {name: god.god|slug}) }}" title="Smite God {{ god.god }}">{{ god.god }}</a>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    <div class="col col-sm-6 col-md-4 col-lg-12">
                                                        <ul class="list-unstyled">
                                                            <li>Rank: {{ god.Rank }}</li>
                                                            {% if god.Losses and god.Wins %}
                                                                <li>Win Percent: {{ ((god.Wins / (god.Wins + god.Losses)) * 100)|round(2) }}%</li>
                                                            {% elseif god.Wins %}
                                                                <li>Win Percent: {{ 100|round(2) }}%</li>
                                                            {% else %}
                                                                <li>Win Percent: {{ 0|round(2) }}%</li>
                                                            {% endif %}
                                                            <li>Wins: {{ god.Wins }}</li>
                                                            <li>Losses: {{ god.Losses }}</li>
                                                        </ul>
                                                    </div>

                                                    <div class="col col-sm-6 col-md-4 col-lg-12">
                                                        <ul class="list-unstyled">
                                                            <li>Kills: {{ god.Kills }}</li>
                                                            <li>Assists: {{ god.Assists }}</li>
                                                            <li>Deaths: {{ god.Deaths }}</li>
                                                            {% if god.Deaths %}
                                                                <li>K/D: {{ (god.Kills / god.Deaths)|round(2) }}</li>
                                                                <li>K/D/A: {{ ((god.Kills + god.Assists) / god.Deaths)|round(2) }}</li>
                                                            {% else %}
                                                                <li>K/D: {{ god.Kills|round(2) }}</li>
                                                                <li>K/D/A: {{ (god.Kills + god.Assists)|round(2) }}</li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                    {% if achievements %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">
                                    <h3>Player Statistics</h3>

                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Double Kills: {{ achievements.DoubleKills ?? 0 }}</li>
                                                <li>Triple Kills: {{ achievements.TripleKills ?? 0 }}</li>
                                                <li>Quadra Kills: {{ achievements.QuadraKills ?? 0 }}</li>
                                                <li>Penta Kills: {{ achievements.PentaKills ?? 0 }}</li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Shutdown Spree: {{ achievements.ShutdownSpree ?? 0 }}</li>
                                                <li>Killing Spree: {{ achievements.KillingSpree ?? 0 }}</li>
                                                <li>Divine Spree: {{ achievements.DivineSpree ?? 0 }}</li>
                                                <li>Immortal Spree: {{ achievements.ImmortalSpree ?? 0 }}</li>
                                                <li>Unstoppable Spree: {{ achievements.UnstoppableSpree ?? 0 }}</li>
                                                <li>Rampage Spree: {{ achievements.RampageSpree ?? 0 }}</li>
                                                <li>God Like Spree: {{ achievements.GodLikeSpree ?? 0 }}</li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Assisted Kills: {{ achievements.AssistedKills ?? 0 }}</li>
                                                <li>Deaths: {{ achievements.Deaths ?? 0 }}</li>
                                                <li>First Bloods: {{ achievements.FirstBloods ?? 0 }}</li>
                                            </ul>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <ul>
                                                <li>Camps Cleared: {{ achievements.CampsCleared ?? 0 }}</li>
                                                <li>Fire Giant Kills: {{ achievements.FireGiantKills ?? 0 }}</li>
                                                <li>Gold Fury Kills: {{ achievements.GoldFuryKills ?? 0 }}</li>
                                                <li>Minion Kills: {{ achievements.MinionKills ?? 0 }}</li>
                                                <li>Phoenix Kills: {{ achievements.PhoenixKills ?? 0 }}</li>
                                                <li>Siege Juggernaut Kills: {{ achievements.SiegeJuggernautKills ?? 0 }}</li>
                                                <li>Wild Juggernaut Kills: {{ achievements.WildJuggernautKills ?? 0 }}</li>
                                                <li>Tower Kills: {{ achievements.TowerKills ?? 0 }}</li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                    {% if matches %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-12">

                                    <h3>Last 10 Matches</h3>
                                    <div class="row">
                                        {% for match in matches %}
                                        <div class="col-12">
                                            <div class="game-result p-2 mb-4 border {{ match.Win ? 'border-success' : 'border-danger' }} rounded">
                                                <h4>{{ match.Win ? 'Won' : 'Lost' }}!</h4>
                                                Game type: {{ match.Map_Game }}<br />
                                                Date: {{ match.Entry_Datetime }}<br />
                                                Region: {{ match.Region }}<br />
                                                Game length: {{ match.Minutes }} minutes

                                                <div class="row mt-2">
                                                    {% for key, players in match.Teams %}
                                                    <div class="col">
                                                        <h4>{{ key == match.Winning_TaskForce ? 'Winners' : 'Losers' }}</h4>
                                                        <div class="border border-info mb-1 p-2">

                                                            {% for match_player in players %}
                                                            <div class="mb-1 p-1">
                                                                {% if match_player.playerName|clan_remove|slug %}
                                                                <h5><a href="{{ path('player_view', {
                                                                        gamertag: match_player.playerName|clan_remove|slug,
                                                                        id: match_player.playerId
                                                                    }) }}" title="Smite Player {{ match_player.playerName }}">{{ match_player.playerName }}</a></h5>
                                                                {% else %}
                                                                    <strong>Unknown</strong>
                                                                {% endif %}
                                                                <ul>
                                                                    <li>Level: {{ match_player.Account_Level }}</li>
                                                                    <li>God: {{ match_player.Reference_Name }}</li>
                                                                    <li>Skin: {{ match_player.Skin }}</li>
                                                                    <li>Kills: {{ match_player.Kills_Player }}</li>
                                                                    <li>Assists: {{ match_player.Assists }}</li>
                                                                    <li>Deaths: {{ match_player.Deaths }}</li>
                                                                    <li>Damage Mitigated: {{ match_player.Damage_Mitigated }}</li>
                                                                    <li>Damage Taken: {{ match_player.Damage_Taken }}</li>
                                                                    <li>Gold Earned: {{ match_player.Gold_Earned }}</li>
                                                                    <li>Gold Per Minute: {{ match_player.Gold_Per_Minute }}</li>
                                                                    <li>Healing: {{ match_player.Healing }}</li>
                                                                </ul>
                                                            </div>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>

                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}
