{% extends 'base.html.twig' %}

{% block title %}{{ match.matchType }} Match Report - Smite Stats - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/matches/{{ match.smiteMatchId }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('***REMOVED***taskforceStats1').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });

        $('***REMOVED***taskforceStats2').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });

        $('***REMOVED***matchStats').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });

        $('***REMOVED***minionStats').DataTable({
            "paging": false,
            "info": false,
            "searching": false
        });
    </script>
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('matches') }}">Matches</a></li>
                    <li class="breadcrumb-item active">{{ match.matchType }}</li>
                </ol>
            </nav>

            <div class="row match-stats">

                <div class="col-12">
                    <h1>Smite Match Report</h1>
                    <h6>{{ match.matchType }}</h6>
                    <h6>{{ match.date|date }} lasting {{ match.minutes }} minutes</h6>

                    <br />

                    <div class="row mb-5">

                        {% for taskforceId, teamPlayers in match.playersByTeamIndex %}
                        <div class="col-sm-12 col-md-6">
                            <div class="card mb-2 box-shadow">
                                <div class="card-header bg-{{ match.winningTaskforce == taskforceId ? 'success' : 'danger' }}">
                                    <strong>{{ match.winningTaskforce == taskforceId ? 'Winning' : 'Losing' }} Team</strong>
                                </div>
                                <div class="card-body">
                                {% for matchPlayer in teamPlayers %}

                                    <div class="row mb-3">
                                        <div class="col-5 col-md-4 col-lg-3">
                                            <div class="player-smite-god player-smite-god-medium" style="background-image: url('https://web2.hirez.com/smite/god-cards/{{ matchPlayer.ReferenceName|slug }}.jpg')"></div>
                                        </div>
                                        <div class="col-7 col-md-8 col-lg-9">

                                            <div class="float-right">
                                                {% if matchPlayer.killsPenta > 0 %}
                                                    <strong>{{ matchPlayer.killsPenta }}x Penta Kills</strong>
                                                {% elseif matchPlayer.killsQuadra > 0 %}
                                                    <strong>{{ matchPlayer.killsQuadra }}x Quadra Kills</strong>
                                                {% elseif matchPlayer.killsTriple > 0 %}
                                                    <strong>{{ matchPlayer.killsTriple }}x Triple Kills</strong>
                                                {% endif %}
                                            </div>

                                            {% if matchPlayer.smitePlayer and matchPlayer.smitePlayer.name|clan_remove|slug %}
                                                <a href="{{ path('player_view', {
                                                    gamertag: matchPlayer.smitePlayer.name|clan_remove|slug,
                                                    id: matchPlayer.smitePlayer.smitePlayerId
                                                }) }}" title="Smite Player {{ matchPlayer.smitePlayer.name }}">{{ matchPlayer.smitePlayer.name }}</a>
                                            {% else %}
                                                <span>&nbsp;</span>
                                            {% endif %}
                                            <br />
                                            <span>{{ matchPlayer.referenceName }}</span><br />
                                            <span>Level <strong>{{ matchPlayer.accountLevel }}</strong></span>
                                        </div>
                                    </div>

                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row mb-5">
                        <div class="col-12">

                            <h2>Team Stats</h2>

                            <div class="table-responsive">
                                {% for taskforceId, teamPlayers in match.playersByTeamIndex %}
                                <table id="taskforceStats{{ taskforceId }}" class="table table-sm table-striped font14 text-center">
                                    <thead class="bg-{{ match.winningTaskforce == taskforceId ? 'success' : 'danger' }}">
                                        <tr>
                                            <th scope="col" class="text-left"></th>
                                            <th scope="col" class="text-left">Player</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">KDA</th>
                                            <th scope="col">Gold</th>
                                            <th scope="col">GPM</th>
                                            <th scope="col">Damage</th>
                                            <th scope="col">Taken</th>
                                            <th scope="col">Mitigated</th>
                                            <th scope="col" class="text-left">Items</th>
                                            <th scope="col" class="text-left">Build</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for matchPlayer in teamPlayers %}
                                        <tr>
                                            <td>
                                                <div class="player-smite-god player-smite-god-small" style="background-image: url('https://web2.hirez.com/smite/god-cards/{{ matchPlayer.ReferenceName|slug }}.jpg')"></div>
                                            </td>
                                            <td class="text-left">
                                                {% if matchPlayer.smitePlayer and matchPlayer.smitePlayer.name|clan_remove|slug %}
                                                    <a href="{{ path('player_view', {
                                                        gamertag: matchPlayer.smitePlayer.name|clan_remove|slug,
                                                        id: matchPlayer.smitePlayer.smitePlayerId
                                                    }) }}" title="Smite Player {{ matchPlayer.smitePlayer.name }}">{{ matchPlayer.smitePlayer.name }}</a>
                                                {% else %}
                                                    <span>&nbsp;</span>
                                                {% endif %}
                                                <br />
                                                <span>{{ matchPlayer.referenceName }}</span>
                                            </td>
                                            <td>{{ matchPlayer.accountLevel }}</td>
                                            <td>
                                                {{ matchPlayer.killsPlayer }}/{{ matchPlayer.deaths }}/{{ matchPlayer.assists }}
                                            </td>
                                            <td>{{ matchPlayer.goldEarned|number_format }}</td>
                                            <td>{{ matchPlayer.goldPerMinute|number_format }}</td>
                                            <td>{{ matchPlayer.damagePlayer|number_format }}</td>
                                            <td>{{ matchPlayer.damageTaken|number_format }}</td>
                                            <td>{{ matchPlayer.damageMitigated|number_format }}</td>
                                            <td class="text-left">
                                                {% for match_player_item in matchPlayer.abilities %}
                                                    <a href="{{ path('relic_view', {
                                                        'name': match_player_item.ability.itemName|slug,
                                                        'id': match_player_item.ability.itemId
                                                    }) }}" rel="nofollow">
                                                        <img height="25px" width="25px" title="{{ match_player_item.ability.itemName }}" src="{{ match_player_item.ability.iconUrl }}" />
                                                    </a>
                                                {% endfor %}
                                            </td>
                                            <td class="text-left">
                                                {% for match_player_item in matchPlayer.items %}
                                                    <a href="{{ path('item_view', {
                                                        'name': match_player_item.item.itemName|slug,
                                                        'id': match_player_item.item.itemId
                                                    }) }}" rel="nofollow">
                                                        <img {% if loop.index <= 3 %}class="mb-1" {% endif %}height="25px" width="25px" title="{{ match_player_item.item.itemName }}" src="{{ match_player_item.item.iconUrl }}" />
                                                    </a>
                                                    {% if loop.index == 3 %}
                                                        <br />
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endfor %}
                            </div>

                        </div>

                    </div>

                    <div class="row mb-5">
                        <div class="col-12">

                            <h2>Match Stats</h2>

                            <div class="table-responsive">
                                <table id="matchStats" class="table table-sm table-striped font14 text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Result</th>
                                            <th scope="col" class="text-left">Player</th>
                                            <th scope="col">KDA</th>
                                            <th scope="col">Damage</th>
                                            <th scope="col">In Hand</th>
                                            <th scope="col">Healing</th>
                                            <th scope="col">Self Heal</th>
                                            <th scope="col">Taken</th>
                                            <th scope="col">Mitigated</th>
                                            <th scope="col">Structure</th>
                                            <th scope="col">Taken Magical</th>
                                            <th scope="col">Taken Physical</th>
                                            <th scope="col">Damage Magical</th>
                                            <th scope="col">Damage Physical</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for taskforceId, teamPlayers in match.playersByTeamIndex %}
                                        {% for matchPlayer in teamPlayers %}
                                        <tr>
                                            <td>
                                                {% if match.winningTaskforce == taskforceId %}
                                                    <span class="p-1 rounded bg-success"><strong>W</strong></span>
                                                {% else %}
                                                    <span class="p-1 rounded bg-danger"><strong>L</strong></span>
                                                {% endif %}
                                            </td>
                                            <td class="text-left">
                                                {% if matchPlayer.smitePlayer and matchPlayer.smitePlayer.name|clan_remove|slug %}
                                                    <a href="{{ path('player_view', {
                                                        gamertag: matchPlayer.smitePlayer.name|clan_remove|slug,
                                                        id: matchPlayer.smitePlayer.smitePlayerId
                                                    }) }}" title="Smite Player {{ matchPlayer.smitePlayer.name }}">{{ matchPlayer.smitePlayer.name }}</a>
                                                {% else %}
                                                    <span>&nbsp;</span>
                                                {% endif %}
                                                <br />
                                                <span>{{ matchPlayer.referenceName }}</span>
                                            </td>
                                            <td>
                                                {{ matchPlayer.killsPlayer }}/{{ matchPlayer.deaths }}/{{ matchPlayer.assists }}
                                            </td>
                                            <td>{{ matchPlayer.damagePlayer|number_format }}</td>
                                            <td>{{ matchPlayer.damageDoneInHand|number_format }}</td>
                                            <td>{{ matchPlayer.healing|number_format }}</td>
                                            <td>{{ matchPlayer.healingPlayerSelf|number_format }}</td>
                                            <td>{{ matchPlayer.damageTaken|number_format }}</td>
                                            <td>{{ matchPlayer.damageMitigated|number_format }}</td>
                                            <td>{{ matchPlayer.structureDamage|number_format }}</td>
                                            <td>{{ matchPlayer.damageTakenMagical|number_format }}</td>
                                            <td>{{ matchPlayer.damageTakenPhysical|number_format }}</td>
                                            <td>{{ matchPlayer.damageDoneMagical|number_format }}</td>
                                            <td>{{ matchPlayer.damageDonePhysical|number_format }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <h2>Minion Stats</h2>

                            <div class="table-responsive">
                                <table id="minionStats" class="table table-sm table-striped font14 text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Result</th>
                                            <th scope="col" class="text-left">Player</th>
                                            <th scope="col">Gold</th>
                                            <th scope="col">GPM</th>
                                            <th scope="col">Minion Kills</th>
                                            <th scope="col">Minion Kills Per Minute</th>
                                            <th scope="col">Camps</th>
                                            <th scope="col">Distance</th>
                                            <th scope="col">Wards</th>
                                            <th scope="col">Towers Destroyed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for taskforceId, teamPlayers in match.playersByTeamIndex %}
                                        {% for matchPlayer in teamPlayers %}
                                        <tr>
                                            <td>
                                                {% if match.winningTaskforce == taskforceId %}
                                                    <span class="p-1 rounded bg-success"><strong>W</strong></span>
                                                {% else %}
                                                    <span class="p-1 rounded bg-danger"><strong>L</strong></span>
                                                {% endif %}
                                            </td>
                                            <td class="text-left">
                                                {% if matchPlayer.smitePlayer and matchPlayer.smitePlayer.name|clan_remove|slug %}
                                                    <a href="{{ path('player_view', {
                                                        gamertag: matchPlayer.smitePlayer.name|clan_remove|slug,
                                                        id: matchPlayer.smitePlayer.smitePlayerId
                                                    }) }}" title="Smite Player {{ matchPlayer.smitePlayer.name }}">{{ matchPlayer.smitePlayer.name }}</a>
                                                {% else %}
                                                    <span>&nbsp;</span>
                                                {% endif %}
                                                <br />
                                                <span>{{ matchPlayer.referenceName }}</span>
                                            </td>
                                            <td>{{ matchPlayer.goldEarned|number_format }}</td>
                                            <td>{{ matchPlayer.goldPerMinute|number_format }}</td>
                                            <td>{{ matchPlayer.killsBot|number_format }}</td>
                                            <td>
                                                {% if matchPlayer.killsBot > 0 %}
                                                    {{ (matchPlayer.killsBot / matchPlayer.minutes)|number_format }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </td>
                                            <td>{{ matchPlayer.campsCleared|number_format }}</td>
                                            <td>{{ matchPlayer.distanceTraveled|number_format }}</td>
                                            <td>{{ matchPlayer.wardsPlaced|number_format }}</td>
                                            <td>{{ matchPlayer.towersDestroyed|number_format }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}
