<div class="row">

    {% for match in matches %}
    <div class="col-sm-12 mb-3">
        <div class="card mb-2 box-shadow">

            {% for match_player in match.matchPlayers %}
                {% if match_player.smitePlayer and match_player.smitePlayer.smitePlayerId == player.smitePlayerId %}
                <div class="card-header bg-{{ match_player.winStatus == 'Winner' ? 'success' : 'danger' }}">
                    <strong>{{ match.matchType }}</strong> |
                    {{ match.date|date }} |
                    <strong>{{ match.minutes }}</strong> minutes
                    <span class="float-right">
                        <a class="btn btn-sm btn-light float-right" href="{{ path('match_view', {id: match.smiteMatchId}) }}">View full match report</a>
                    </span>
                </div>
                {% endif %}
            {% endfor %}

            <div class="card-body">
                <div class="row mt-1">

                    <div class="col-md-12 col-lg-6">
                    {% for match_player in match.matchPlayers %}
                        {% if match_player.smitePlayer and match_player.smitePlayer.smitePlayerId == player.smitePlayerId %}

                        <div class="row">
                            <div class="col-4">
                                <div class="player-smite-god" style="max-width:100%;background-image: url('https://web2.hirez.com/smite/god-cards/{{ match_player.ReferenceName|slug }}.jpg')"></div>
                            </div>
                            <div class="col-8">
                                <div>
                                    <span><strong>KDA</strong> {{ match_player.killsPlayer }}/{{ match_player.deaths }}/{{ match_player.assists }}</span>
                                </div>
                                <div class="match-report-items mb-1">
                                    {% for match_player_item in match_player.abilities %}
                                        <a href="{{ path('relic_view', {
                                            'name': match_player_item.ability.itemName|slug,
                                            'id': match_player_item.ability.itemId
                                        }) }}" rel="nofollow">
                                            <img title="{{ match_player_item.ability.itemName }}" src="{{ match_player_item.ability.iconUrl }}" />
                                        </a>
                                    {% endfor %}
                                </div>

                                <div class="match-report-items">
                                    {% for match_player_item in match_player.items %}
                                        <a href="{{ path('item_view', {
                                            'name': match_player_item.item.itemName|slug,
                                            'id': match_player_item.item.itemId
                                        }) }}" rel="nofollow">
                                            <img title="{{ match_player_item.item.itemName }}" src="{{ match_player_item.item.iconUrl }}" />
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    {% endfor %}
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <div class="row">

                            {% for taskforceId, matchPlayers in match.playersByTeamIndex %}
                            <div class="col-xs-12 col-sm-6">
                                <table class="stats-table table table-sm table-striped mb-0 {% if taskforceId == match.winningTaskforce %}border-success{% else %}border-danger{% endif %}">
                                    <tbody>
                                    {% for matchPlayer in matchPlayers %}
                                        <tr>
                                            <td>
                                                {% if match.winningTaskforce == taskforceId %}
                                                    <span class="p-1 rounded bg-success"><strong>W</strong></span>
                                                {% else %}
                                                    <span class="p-1 rounded bg-danger"><strong>L</strong></span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="player-smite-god player-smite-god-small" style="background-image: url('https://web2.hirez.com/smite/god-cards/{{ matchPlayer.ReferenceName|slug }}.jpg')"></div>
                                            </td>
                                            <td>
                                                {% if matchPlayer.smitePlayer and matchPlayer.smitePlayer.name|clan_remove|slug %}
                                                    <a class="d-inline-block" href="{{ path('player_view', {
                                                        gamertag: matchPlayer.smitePlayer.name|clan_remove|slug,
                                                        id: matchPlayer.smitePlayer.smitePlayerId
                                                    }) }}" title="Smite Player {{ matchPlayer.smitePlayer.name }}">{{ matchPlayer.smitePlayer.name }}</a>
                                                {% else %}
                                                    <span class="d-inline-block">Unknown</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    {% endfor %}
</div>
