{% extends 'base.html.twig' %}

{% block title %}God {{ god.name }} - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/gods/{{ god.Name|slugify }}" />
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-3">
        <div class="container">

            <div class="row">

                <div class="col-md-4 col-lg-3">
                    <div class="rounded smite-god" style="background-image: url({{ god.cardUrl }})">
                        <a href="{{ path('god_view', {name: god.name|slugify}) }}" title="Smite God {{ god.name }}"><h1>{{ god.name }}</h1></a>
                    </div>
                </div>

                <div class="col-md-4 col-lg-5">
                    <h4>{{ god.title }}</h4>
                    <h4>{{ god.pantheon }}</h4>
                    <h4>{{ god.roles }}</h4>
                    <h4>{{ god.type }}</h4>
                    <h4>{{ god.pros }}</h4>
                    <h4>{{ god.cons }}</h4>
                </div>

                <div class="col-md-4 col-md-4">
                    <h3>Statistics</h3>
                    <ul>
                        <li>Attack Speed: {{ god.attackSpeed }}</li>
                        <li>Health: {{ god.health }}</li>
                        <li>Mana: {{ god.mana }}</li>
                        <li>Magic Protection: {{ god.magicProtection }}</li>
                        <li>Magical Power: {{ god.magicalPower }}</li>
                        <li>Speed: {{ god.speed }}</li>
                    </ul>
                </div>

                <div class="col-12">

                    <p>{{ god.lore }}</p>

                    <div class="god-abilities">
                        <div class="row">
                            {% for ability in god.abilities %}
                            <div class="col-12 col-md-4">
                                <div class="god-ability rounded">
                                    <img class="float-left mr-2" src="{{ ability.url }}" /><br />
                                    <h3>{{ ability.summary }}</h3><br />
                                    <p>{{ ability.description }}</p>
                                    <ul>
                                        <li>Cost: {{ ability.cost }}</li>
                                        <li>Cooldown: {{ ability.cooldown }}</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}
