{% extends 'base.html.twig' %}

{% block title %}{{ god.name }} Smite God - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/gods/{{ god.Name|slug }}" />
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-5">
        <div class="container">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('gods') }}">Gods</a></li>
                    <li class="breadcrumb-item active">{{ god.name }}</li>
                </ol>
            </nav>

            <div class="row">

                <div class="col-md-4">

                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-auto">
                                    <h1><a href="{{ path('god_view', {name: god.name|slug}) }}" title="Smite God {{ god.name }}">{{ god.name }}</a></h1>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">

                            <img class="img-fluid" src="{{ god.cardUrl }}" />
                            <hr />

                            <ul class="list-unstyled">
                                <li><strong>Title</strong>: {{ god.title }}</li>
                                <li><strong>Pantheon</strong>: <a href="{{ path('gods_pantheon', {pantheon: god.pantheon|slug}) }}">{{ god.pantheon }}</a></li>
                                <li><strong>Roles</strong>: <a href="{{ path('gods_role', {role: god.roles|slug}) }}">{{ god.roles }}</a></li>
                                <li><strong>Type</strong>: {{ god.type }}</li>
                                {% if god.pros %}
                                <li><strong>Pros</strong>: {{ god.pros }}</li>
                                {% endif %}
                                {% if god.cons %}
                                <li><strong>Cons</strong>: {{ god.cons }}</li>
                                {% endif %}
                            </ul>
                            <hr />

                            <ul class="list-unstyled">
                                <li><strong>Attack Speed</strong>: {{ god.attackSpeed }}</li>
                                <li><strong>Health</strong>: {{ god.health }}</li>
                                <li><strong>Mana</strong>: {{ god.mana }}</li>
                                <li><strong>Magic Protection</strong>: {{ god.magicProtection }}</li>
                                <li><strong>Magical Power</strong>: {{ god.magicalPower }}</li>
                                <li><strong>Speed</strong>: {{ god.speed }}</li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="col-md-8">

                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p>{{ god.lore }}</p>

                        </div>
                    </div>

                    {% for ability in god.abilities %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <div class="row">

                                <div class="col-auto">
                                    <img class="float-left mr-2" src="{{ ability.url }}" />
                                </div>

                                <div class="col-auto">
                                    <h4>{{ ability.summary }}</h4>
                                    <h5>
                                        {% if ability.abilityNumber < 5 %}
                                            Ability {{ ability.abilityNumber }}
                                        {% else %}
                                            Passive
                                        {% endif %}
                                    </h5>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ ability.description }}</p>

                            {% if ability.abilityNumber < 5 %}
                                <ul>
                                    <li>Cost: {{ ability.cost }}</li>
                                    <li>Cooldown: {{ ability.cooldown }}</li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>

            <div class="row">
            {% for key, players in leaderboards %}
                {% if players %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4>Top {{ god.Name }} {{ key }} Players</h4>
                            </div>
                            <div class="card-body">
                                {% for player in players %}
                                    {% if player.player_name|clan_remove|slug %}
                                        <a href="{{ path('player_view', {
                                            gamertag: player.player_name|clan_remove|slug,
                                            id: player.player_id
                                        }) }}" title="Smite Player {{ player.player_name }}">{{ player.player_name }}</a>
                                    {% else %}
                                        <strong>Unknown</strong>
                                    {% endif %}
                                    <br />

                                    <span>Wins<strong>: {{ player.wins }}</strong></span><br />
                                    <span>Losses<strong>: {{ player.losses }}</strong></span><br />

                                    {% if player.losses and player.wins %}
                                        <span>Win Percent<strong>: {{ ((player.wins / (player.wins + player.losses)) * 100)|round(2) }}%</strong></span>
                                    {% elseif player.wins %}
                                        <span>Win Percent<strong>: {{ 100|round(2) }}%</strong></span>
                                    {% else %}
                                        <span>Win Percent<strong>: {{ 0|round(2) }}%</strong></span>
                                    {% endif %}
                                    <hr />
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
