{% extends 'base.html.twig' %}

{% block title %}{{ clan.Name }} Clan - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <link rel="canonical" href="https://smitestats.com/clan/{{ clan.Name|lower }}" />
{% endblock %}

{% block body %}

    <div class="bg-light pt-3 pb-3">
        <div class="container">

            {% if clan.Name|slug %}
            <h1><a href="{{ path('clan_view', {
                    name: clan.Name|slug
                }) }}" title="Smite Clan {{ clan.Name }}">{{ clan.Name }} Smite Clan</a></h1>
            {% endif %}

            <h2>{{ clan.Tag }}</h2>
            <h5>Created by {{ clan.Founder }}</h5>

            <div class="row">
                {% for player in clan_players %}
                    {% if player.Player_info is defined %}
                        <div class="col-12">

                            <div class="card mb-4 box-shadow">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <img class="rounded" src="{{ player.Player_info.Avatar_URL }}" width="50px" />
                                        </div>
                                        <div class="col-md-3">
                                            <h3><a href="{{ path('player_view', {
                                                    gamertag: player.Name|clan_remove|slug,
                                                    id: player.Player_info.Id
                                                }) }}" title="Smite Player {{ player.Name }}">{{ player.Name }}</a></h3>
                                            <h5>Level: {{ player.AccountLevel }}</h5>
                                        </div>
                                        <div class="col-md-2">
                                            <ul class="list-unstyled">
                                                <li>Hours Played: {{ player.Player_info.HoursPlayed }}</li>
                                                <li>Achievements: {{ player.Player_info.Total_Achievements }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <ul class="list-unstyled">
                                                <li>Wins: {{ player.Player_info.Wins }}</li>
                                                <li>Losses: {{ player.Player_info.Losses }}</li>
                                                <li>Quits: {{ player.Player_info.Leaves }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <ul class="list-unstyled">
                                                <li>Kills: {{ player.Stats_info.Kills }}</li>
                                                <li>Assists: {{ player.Stats_info.Assists }}</li>
                                                <li>Deaths: {{ player.Stats_info.Deaths }}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <ul class="list-unstyled">
                                                {% if player.Stats_info.Deaths %}
                                                    <li>K/D: {{ (player.Stats_info.Kills / player.Stats_info.Deaths)|round(2) }}</li>
                                                    <li>K/D/A: {{ ((player.Stats_info.Kills + player.Stats_info.Assists) / player.Stats_info.Deaths)|round(2) }}</li>
                                                {% else %}
                                                    <li>K/D: {{ player.Stats_info.Kills|round(2) }}</li>
                                                    <li>K/D/A: {{ (player.Stats_info.Kills + player.Stats_info.Assists)|round(2) }}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="col-12">
                                            <h3>Top Gods</h3>
                                            <div class="row">

                                                {% for god in player.God_info %}
                                                <div class="col-md-12 col-lg-3">
                                                    <div class="row">

                                                        {% if gods[god.god] and gods[god.god] %}
                                                        <div class="col-md-4 col-lg-12">
                                                            <div class="rounded smite-god" style="background-image: url({{ gods[god.god].godCard_URL }})">
                                                                <a href="{{ path('god_view', {name: god.god|slug}) }}" title="Smite God {{ god.god }}">{{ god.god }}</a>
                                                            </div>
                                                        </div>
                                                        {% endif %}

                                                        <div class="col-md-4 col-lg-12">
                                                            <ul class="list-unstyled">
                                                                <li>Rank: {{ god.Rank }}</li>
                                                                {% if god.Losses and god.Wins %}
                                                                    <li>Win Percent: {{ ((god.Wins / (god.Wins + god.Losses)) * 100)|round(2) }}%</li>
                                                                {% elseif god.Wins %}
                                                                    <li>Win Percent: {{ 100|round(2) }}%</li>
                                                                {% else %}
                                                                    <li>Win Percent: {{ 0|round(2) }}%</li>
                                                                {% endif %}
                                                                <li>Wins: {{ god.Wins }}</li>
                                                                <li>Losses: {{ god.Losses }}</li>
                                                            </ul>
                                                        </div>

                                                        <div class="col-md-4 col-lg-12">
                                                            <ul class="list-unstyled">
                                                                <li>Kills: {{ god.Kills }}</li>
                                                                <li>Assists: {{ god.Assists }}</li>
                                                                <li>Deaths: {{ god.Deaths }}</li>
                                                                {% if god.Deaths %}
                                                                    <li>K/D: {{ (god.Kills / god.Deaths)|round(2) }}</li>
                                                                    <li>K/D/A: {{ ((god.Kills + god.Assists) / god.Deaths)|round(2) }}</li>
                                                                {% else %}
                                                                    <li>K/D: {{ god.Kills|round(2) }}</li>
                                                                    <li>K/D/A: {{ (god.Kills + god.Assists)|round(2) }}</li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}
