{% extends 'base.html.twig' %}

{% block title %}Smite Stats - Unofficial SMITE{% endblock %}

{% block header_meta %}
    <meta name="description" content="Smite stats from the worlds best Smite statistics provider. Up to date and in-depth details on your latest matches, kills, best gods and much more!">
    <link rel="canonical" href="https://smitestats.com" />
{% endblock %}

{% block body %}

<div class="bg-light pt-3 pb-5">
    <div class="container">

        <div class="row">

            <div class="col-lg-8">
                <h1><a href="{{ path('homepage') }}" rel="nofollow">Smite Stats</a></h1>

                <div class="row">
                    <div class="col-12 mb-2">

                        <h2>Featured Gods</h2>

                        <div class="row">
                        {% for god in gods %}
                            <div class="col-6 col-sm-4">
                                <div class="rounded smite-god" rel="nofollow" style="background-image: url({{ god.cardUrl }})">
                                    <a href="{{ path('god_view', {name: god.name|slug}) }}" title="Smite God {{ god.name }}">{{ god.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-12">

                        <div class="row">

                            {% for key, players in leaderboards %}
                                {% if players %}
                                <div class="col-4">
                                    <h4>Top 5 Ranked {{ key }} Players</h4>

                                    {% for player in players %}
                                    <div class="col-12">

                                        {% if player.Name|clan_remove|slug %}
                                            <a href="{{ path('player_view', {
                                                gamertag: player.Name|clan_remove|slug,
                                                id: player.player_id
                                            }) }}" title="Smite Player {{ player.Name }}">{{ player.Name }}</a>
                                        {% else %}
                                            <strong>Unknown</strong>
                                        {% endif %}
                                        <br />

                                        Rank: {{ player.Rank }}<br />
                                        Points: {{ player.Points }}
                                        Wins: {{ player.Wins }}<br />
                                        Losses: {{ player.Losses }}

                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">

                    <div class="col-12 mb-4">
                        <h2>Featured Clan</h2>
                        <a href="{{ path('clan_view', {name: 'Kingzhillkillz'|slug}) }}">KingZhillkillz</a>
                    </div>

                    <div class="col-12">
                        <h2>Featured Players</h2>
                        <a href="{{ path('player_view', {gamertag: 'beav2290', id: '701418647'}) }}" rel="nofollow">Beav2290</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'buckerz2012', id: '701275468'}) }}" rel="nofollow">BucKerz2012</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'jc2294', id: '702523354'}) }}" rel="nofollow">JC2294</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'jimski87', id: '701273540'}) }}" rel="nofollow">Jimski87</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'silver-iv7', id: '702565842'}) }}" rel="nofollow">Silver IV7</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
