{% extends 'base.html.twig' %}

{% block title %}Smite Stats - Unofficial SMITE{% endblock %}

{% block body %}

<div class="bg-light">
    <div class="container p-2">

        <div class="row">

            <div class="col-8">
                <h1><a href="{{ path('homepage') }}">Smite Stats</a></h1>
            </div>

            <div class="col-4">
                <h2>Featured Clan</h2>
                <a href="{{ path('clan_view', {name: 'KingZhillkillz'}) }}">KingZhillkillz</a>

                <h2>Featured Players</h2>
                <a href="{{ path('player_view', {gamertag: 'Beav2290'}) }}">Beav2290</a><br/>
                <a href="{{ path('player_view', {gamertag: 'BucKerz2012'}) }}">BucKerz2012</a><br/>
                <a href="{{ path('player_view', {gamertag: 'JC2294'}) }}">JC2294</a><br/>
                <a href="{{ path('player_view', {gamertag: 'Jimski87'}) }}">Jimski87</a><br/>
                <a href="{{ path('player_view', {gamertag: 'SILVER IV7'}) }}">Silver IV7</a>

            </div>
        </div>

    </div>
</div>

{% endblock %}
