{% extends 'base.html.twig' %}

{% block title %}Smite Stats - Unofficial SMITE{% endblock %}

{% block body %}

<div class="bg-light pt-3 pb-3">
    <div class="container">

        <div class="row">

            <div class="col-lg-8">
                <h1><a href="{{ path('homepage') }}" rel="nofollow">Smite Stats</a></h1>

                <h2>Featured Gods</h2>

                <div class="row">
                {% for god in gods %}
                    <div class="col-6 col-sm-4">
                        <div class="rounded smite-god" style="background-image: url({{ god.godCard_URL }})">
                            <a href="{{ path('god_view', {name: god.Name|slugify}) }}">{{ god.Name }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">

                    <div class="col-12 mb-4">
                        <h2>Featured Clan</h2>
                        <a href="{{ path('clan_view', {name: 'Kingzhillkillz'}) }}">KingZhillkillz</a>
                    </div>

                    <div class="col-12">
                        <h2>Featured Players</h2>
                        <a href="{{ path('player_view', {gamertag: 'beav2290'}) }}">Beav2290</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'buckerz2012'}) }}">BucKerz2012</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'jc2294'}) }}">JC2294</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'jimski87'}) }}">Jimski87</a><br/>
                        <a href="{{ path('player_view', {gamertag: 'silver-iv7'}) }}">Silver IV7</a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
