<div class="header-box">
    <img alt="Smite page background" class="smite-bg" src="/images/smite_bg_compressed.jpg" />
    <div class="slogan">
        <div class="container">
            <div class="slogan-inner">
                <a href="https://smitestats.com">Smite Stats</a><br />
                <span>Unofficial Smite statistics</span>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <a class="mr-3" href="{{ path('homepage') }}" rel="nofollow">Home</a>
                    <a class="mr-3" href="{{ path('gods') }}">Gods</a>
                    <a class="mr-3" href="{{ path('items') }}">Items</a>
                    <a class="mr-3" href="{{ path('matches') }}">Matches</a>
                    <a class="mr-3" href="{{ path('players') }}">Players</a>
                </div>
                <div class="col-md-6">
                    <form action="{{ path('player_search') }}" class="form-inline float-md-right" method="get">
                        <div class="input-group">
                            <input class="form-control mr-1 mb-1 mb-sm-0" name="player_name" placeholder="Gamertag to search..." type="text" />
                        </div>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>

        </div>
    </nav>
</div>

<main>